@model List<SignRowDto>

 <table class="table table-bordered xg-table" cellspacing="0">
    <thead>
        <tr>
            <th>NodeName</th>
            <th>Signer</th>
            <th>SignStatus</th>
            <th>SignTime</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.NodeName</td>
                <td>@row.SignerName</td>
                <td>@row.SignStatusName</td>
                <td>@row.SignTime</td>
                <td>@row.Note</td>
            </tr>
        }
    </tbody>
</table>
