@using Base
@model MUTIStationObj
@{
    MUTIStationObj DATAObj = (MUTIStationObj)ViewBag.DATA;
    string err = DATAObj.ERRMsg;
    string disUserName = "畫面逾時";
}

<script type="text/javascript">
    $(document).ready(function () {
        IS_SYS_Clock = false;
        if (SYS_ClickBlock) { _fun.unBlock(); }
        SYS_ClickBlock = false;
            $("title").text("@Html.Raw(disUserName)");
        _leftmenu.onToggleMenu();
        $("#SI_PartName").change(function () {
            var idValue1 = $("#SI_PartName").val();
            var elementOption1 = $("#options_SI_PartName option[value='" + idValue1 + "']")
            var data1 = elementOption1.text().split(';');
            if (data1.length > 1) {
                $("#SI_PartNO").val(data1[1]);
            }
        });
        $("#SI_PartNO").change(function () {
            var idValue2 = $("#SI_PartNO").val();
            var elementOption2 = $("#options_SI_PartNO option[value='" + idValue2 + "']")
            var data2 = elementOption2.text().split(';');
            if (data2.length > 1) {
                $("#SI_PartName").val(data2[0]);
            }
        });
        $('input[type=checkbox][name=optradio]').change(function () {
            if ($(this).is(':checked')) {
                var tmp = $("#Select_ID").val()+this.value + ";";
                //$("#Select_ID").val(tmp);
                $("input[name=Select_ID]").val(tmp);
            }
            else {
                var tmp = $("#Select_ID").val();
                var tmp02 = this.value + ";";
                //$("#Select_ID").val(tmp.replace(tmp02, ""));
                $("input[name=Select_ID]").val(tmp.replace(tmp02, ""));
            }
        });
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm"))) {
                e.preventDefault();
            }
        });
    });

    var _me = {
        hasStaionStatus: false,
        hasSimulatioStatus: false,
        STView2Work_PageReload: false,
        hasStaionChangQTY: false,
        clickFunction: function (status) {
            switch (status) {
                case 0://回主頁
                    //$('#stationSetINFO').hide();
                     //$('#displayNULL').show();
                    break;
                case 3://報工
                    //$('#displayNULL').hide();
                    //$('#stationSetINFO').show();
                    break;
            }
        },
        qqww: function () {
            var arr = new Array();
            $("input:checkbox[id='SI_OPNO']:checked").each(function () {
                arr.push($(this).val()); //向数组中添加元素
            }); //获取界面复选框的所有值
            $("input[name=SI_Slect_OPNOs]").val(arr.join(';'));

        },
    };



</script>

<style>
    th {
        border-bottom: 1px solid #d6d6d6;
    }
    tr:nth-child(even) {
        background: #e9e9e9;
    }
    .stateRed{
        color:red;
        font-weight: bold;
    }

    .stateGreen {
        color: forestgreen;
        font-weight: bold;
    }

    .stateNOT {
        background: #b8b8b8;
    }

    .div-1 {
        background-color: #EBEBEB;
    }

    .div-2 {
        background-color: #ABBAEA;
    }

    .div-3 {
        background-color: #FBD603;
    }
</style>

<!--最上層顯示-->
<div class="div-1">
    <p><a href="@Url.Action("Read", "STView2")" class="ui-btn ui-icon-back ui-btn-icon-left">回到工站選單畫面</a></p>
    @if (err != "")
    {
        <dir>
            <p><font color="red" size="6">錯誤訊息:<strong>@err</strong></font></p>
        </dir>
        <hr />
    }
@*    @if (DATAObj.MES_String.Trim() != "")
    {
        <dir>
            @Html.Raw(DATAObj.MES_String)
        </dir>
        <hr />
    }*@
    <p><label>工站編號:</label><label> @DATAObj.StationNO</label>&nbsp;&nbsp;<label> @DATAObj.StationName</label></p>
</div>




<!--所有項目表-->
<div id="displayHasWorkData_List">
    <form method="post">
        <input type='hidden' name='StationNO' value="@DATAObj.StationNO" />
        <input type='hidden' id="Select_ID" name='Select_ID' value="@DATAObj.Select_ID" />

        @{
            if (DATAObj.HasWorkData_List == null)
            {
                    <h2>已有項目筆數:&nbsp;&nbsp;0</h2>
            }
            else
            {
                    <h2>已有項目筆數:&nbsp;&nbsp;@DATAObj.HasWorkData_List.Count</h2>
            }
            if (DATAObj.HasWorkData_List != null)
            {


                    <label id="showdata"></label>
                    <table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" id="DisplayDataTable">
                        <thead>
                            <tr>
                                <th>選擇</th>
                                <th>狀態</th>
                                <th>料件編號</th>
                                <th data-priority="1">品名</th>
                                <th data-priority="2">規格</th>
                                <th data-priority="3">製程</th>
                                <th data-priority="4">順序</th>
                                <th data-priority="5">工單編號</th>
                                <th data-priority="6">累計OK量</th>
                                <th data-priority="7">Fail量</th>
                                <th data-priority="8">實際CT</th>
                                <th data-priority="9">目標CT</th>
                                <th data-priority="10">開始時間</th>
                                <th data-priority="11">停止時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                            var fontClass = "stateNOT";
                            for (int i = 0; i < DATAObj.HasWorkData_List.Count; i++)
                            {
                                string[] data = DATAObj.HasWorkData_List[i];
                                        <tr>
                                            <td><input type="checkbox" name="optradio" value="@data[0]"></td>
                                            @{
                                        fontClass = "stateNOT";
                                        if (data[1] == "生產") { fontClass = "stateGreen"; }
                                        else if (data[1] == "停止") { fontClass = "stateRed"; }
                                            }
                                            <td class="@fontClass">@data[1]</td>
                                            <td>@data[2]</td>
                                            <td>@data[3]</td>
                                            <td>@data[4]</td>
                                            <td>@data[5]</td>
                                            <td>@data[6]</td>
                                            <td>@data[7]</td>
                                            <td>@data[8]</td>
                                            <td>@data[9]</td>
                                            <td>@data[10]</td>
                                            <td>@data[11]</td>
                                            <td>@data[12]</td>
                                            <td>@data[13]</td>
                                        </tr>
                            }
                            }
                        </tbody>
                    </table>
            }
        }

        <p><button type='submit' class="ui-btn ui-icon-grid ui-btn-icon-left" data-confirm="你確定執行 開工 作業?" onclick='this.form.action="@Url.Action("SetStation_Open", "STView2")" '>開工</button></p>
        <p><button type='submit' class="ui-btn ui-icon-grid ui-btn-icon-left" data-confirm="你確定執行 停工 作業?" onclick='this.form.action="@Url.Action("SetStation_Stop","STView2")"'>停工</button></p>
        <p><button type='submit' class="ui-btn ui-icon-grid ui-btn-icon-left" data-confirm="你確定執行 關閉項目 作業?" onclick='this.form.action="@Url.Action("SetStation_Close","STView2")"'>關閉項目</button></p>
    </form>
</div>

<hr />

<!--報工-->
<div id="stationSetINFO" class="div-2">
    <h2>報工作業</h2>
    <form action=@Url.Action("SetAction") method="post">
        <input type='hidden' name='State' value="報工" />
        <input type='hidden' name='StationNO' value="@DATAObj.StationNO" />
        <input type='hidden' name='StationName' value="@DATAObj.StationName" />
        <input type='hidden' name='SI_Slect_OPNOs' value="" />
        <input type='hidden' id="Select_ID" name='Select_ID' value="@DATAObj.Select_ID" />
        <p>
            選擇報工員工:

            @{
                if (DATAObj.HasPO_List != null && DATAObj.HasPO_List.Count > 0)
                {

                        @foreach (string[] s in DATAObj.HasPO_List)
                    {
                        var s_tmp = s[0];
                        var s_tmp2 = s[1];
                            <input class="input_arg" type="checkbox" id="SI_OPNO" name="SI_OPNO" value='@s_tmp'>
                            <label for="cbox1">@s_tmp2</label>
                    }

                }
            }

        </p>
        <p>本次生產量:<input type='number' name='SI_OKQTY' placeholder="輸入本次報工良品數" data-clear-btn="true" /></p>
        <p>本次不良量:<input type='number' name='SI_FailQTY' placeholder="本次不良品數" data-clear-btn="true" /></p>
        <p>備註說明:<input type='text' name='Remark' /></p>
        <p><button type='submit' class="ui-btn ui-icon-grid ui-btn-icon-left" onclick="this.style.display='none'; _me.qqww()">報工確定</button></p>
    </form>
    <!--<button class="ui-btn ui-icon-back ui-btn-icon-left" onclick='_me.clickFunction(0)'>回到資料設定</button>-->

</div>

<!--新增項目-->
<div id="displayNULL" class="div-3">
    <h2>新增項目</h2>
    <form action=@Url.Action("SetAction") method="post">
        <p>工單編號:<input type="text" name="SI_OrderNO" value="@DATAObj.SI_OrderNO" placeholder="可以不輸入" data-clear-btn="true" /></p>
        <p>
            製程名稱:
            @{
                if (DATAObj.HasPP_Name_List != null && DATAObj.HasPP_Name_List.Count > 0)
                {
                        <select name='SI_PP_Name'>
                            @if (DATAObj.HasPP_Name_List.Count == 1)
                        {
                            string[] s = DATAObj.HasPP_Name_List[0];
                            var s_tmp = $"{s[0]};{s[1]};{s[2]}";
                            var s_tmp2 = $"{s[0]} {s[1]} {s[2]}";
                                <option value='@s_tmp'>@s_tmp2</option>
                        }
                        else
                        {
                            if (DATAObj.SI_PP_Name == null || DATAObj.SI_PP_Name.Trim() == "")
                            {
                                    <option value=''></option>
                            }
                                @foreach (string[] s in DATAObj.HasPP_Name_List)
                            {
                                var s_tmp = $"{s[0]};{s[1]};{s[2]}";
                                var s_tmp2 = $"{s[0]} {s[1]} {s[2]}";
                                    <option value='@s_tmp'>@s_tmp2</option>
                            }
                        }
                        </select>
                }
            }
        </p>
        <p>
            生產料號:<input type="text" id='SI_PartNO' name='SI_PartNO' list="options_SI_PartNO" value="@DATAObj.SI_PartNO">
            @{
                if (DATAObj.HasPartNO_List != null && DATAObj.HasPartNO_List.Count > 0)
                {
                        <datalist id="options_SI_PartNO">
                            @foreach (string[] s in DATAObj.HasPartNO_List)
                        {
                            var s_tmp = $"{s[0]}";
                            var s_tmp2 = $"{s[1]};{s[2]}";
                                <option value='@s_tmp'>@s_tmp2</option>
                        }
                        </datalist>
                }
            }
        </p>
        <p>
            生產品名:<input type="text" id='SI_PartName' name='SI_PartName' list="options_SI_PartName" value="@DATAObj.SI_PartName">
            @{
                if (DATAObj.HasPartNO_List != null && DATAObj.HasPartNO_List.Count > 0)
                {
                        <datalist id="options_SI_PartName">
                            @foreach (string[] s in DATAObj.HasPartNO_List)
                        {
                            var s_tmp2 = $"{s[2]};{s[0]}";
                            if (s[1].Trim() != "")
                            {
                                var s_tmp = $"{s[1]}";
                                    <option value='@s_tmp'>@s_tmp2</option>
                            }
                        }
                        </datalist>
                }
            }
        </p>
        <input type='hidden' id='LocalIPPort' name='LocalIPPort' />
        <input type='hidden' name='State' value="新增項目" />
        <input type='hidden' name='StationNO' value="@DATAObj.StationNO" />
        <p><button type='submit' class="ui-btn ui-icon-grid ui-btn-icon-left" onclick="this.style.display='none'">新增項目 確認</button></p>
    </form>
</div>


