@using Base
@model MUTIStationObj
@{
    string disUserName = "畫面逾時";
    if (_Fun.GetBaseUser() != null) { disUserName = _Fun.GetBaseUser().UserName; }
}
<script type="text/javascript">
    $(function () {
        IS_SYS_Clock = false;
        if (SYS_ClickBlock) { _fun.unBlock(); }
        SYS_ClickBlock = false;
        $("title").text("@Html.Raw(disUserName)");
    });
    var _me = {
        hasStaionStatus: false,
        hasSimulatioStatus: false,
        STView2Work_PageReload: false,
        hasStaionChangQTY: false,
    }; //class



</script>

<!--最上層顯示-->
<div>
    <p><a href="@Url.Action("Read", "STView2Work")" class="ui-btn ui-icon-back ui-btn-icon-left">回到工站選單畫面</a></p>
    @if (Model.ERRMsg != "")
    {
        <dir>
            <p><font color="red">錯誤訊息:<strong>Model.ERRMsg</strong></font></p>
        </dir>
        <hr />
    }
    @if (Model.MES_String.Trim() != "")
    {
        <dir>
            @Html.Raw(Model.MES_String)
        </dir>
        <hr />
    }
</div>
<div id="selectStationPage">
    <p>
        <label>選擇作業工站:</label>
        @{
            if (Model.StationNOList != null && Model.StationNOList.Count > 0)
            {
                <form action=@Url.Action("Index") method="post">
                    <input type='hidden' name='State' value="工站確認" />
                    <input type='hidden' name='MES_Report' />
                    <input type="text" name='StationNO' list="options1">
                    <datalist id="options1">
                        @foreach (string[] s in Model.StationNOList)
                        {
                            var s_tmp2 = $"{s[0]} {s[1]}";
                            var s_tmp = $"{s[0]}";
                            <option value='@s_tmp'>@s_tmp2</option>
                        }
                    </datalist>
                    <p><button id="查詢歷史" type='submit' class="ui-btn ui-icon-grid ui-btn-icon-left">查詢歷史報工紀錄</button></p>
                </form>
                @if (Model.MES_Report != null && Model.MES_Report.Trim()!="")
                {
                    @Html.Raw(Model.MES_Report);
                }
            }
            else
            {
                <label>無任何可多工處裡的工站</label>
            }
        }
    </p>
</div>