@using System.Data
@using Base

@model StoreList

@{
    StoreList _model = ViewBag.StoreList;

}

<script type="text/javascript">
    $(document).ready(function () {
        IS_SYS_Clock = false;
        if (SYS_ClickBlock) { _fun.unBlock(); }
        SYS_ClickBlock = false;

        $('input[type=checkbox][name=optradio_A]').change(function () {
            if ($(this).is(':checked')) {
                var tmp = $("#Select_ID_A").val() + this.value + ";";
                $("input[name=Select_ID]").val(tmp);
            }
            else {
                var tmp = $("#Select_ID_A").val();
                var tmp02 = this.value + ";";
                $("input[name=Select_ID]").val(tmp.replace(tmp02, ""));
            }
        });
        $('input[type=checkbox][name=optradio_B]').change(function () {
            if ($(this).is(':checked')) {
                var tmp = $("#Select_ID_B").val() + this.value + ";";
                $("input[name=Select_ID]").val(tmp);
            }
            else {
                var tmp = $("#Select_ID_B").val();
                var tmp02 = this.value + ";";
                $("input[name=Select_ID]").val(tmp.replace(tmp02, ""));
            }
        });

        var $li = $('ul.tab-title li');
        $($li.eq(0).addClass('active').find('a').attr('href')).siblings('.tab-inner').hide();
        $li.click(function () {
            $($(this).find('a').attr('href')).show().siblings('.tab-inner').hide();
            $(this).addClass('active').siblings('.active').removeClass('active');
        });
    });
    var _me = {
        hasStaionStatus: false,
        hasSimulatioStatus: false,
        STView2Work_PageReload: false,
        hasStaionChangQTY: false,
        qqwwA: function () {
            $("input[name=Select_ID_QTY]").val('');
            var aaa=$("#Select_ID_A").val();
            var bbb=aaa.split(';');
            //var ccc=$("#"+bbb[1]).val();
            var eee="";
            bbb.forEach(function(item) {
                if (item!=""){
                    var fff = item.split(',');
                    eee = eee + $("#" + fff[0]).val() + ";";
                }
            });
            $("input[name=Select_ID_QTY]").val(eee);

        },
        qqwwB: function () {
            $("input[name=Select_ID_QTY]").val('');
            var aaa = $("#Select_ID_B").val();
            var bbb = aaa.split(';');
            //var ccc=$("#"+bbb[1]).val();
            var eee = "";
            bbb.forEach(function (item) {
                if (item != "") {
                    eee = eee + $("#" + item).val() + ";";
                }
            });
            $("input[name=Select_ID_QTY]").val(eee);

        },
    };



</script>
<p><a href="@Url.Action("StroeFUN", "LabelStroe", new { id = @_model.StoreNO })" class="ui-btn ui-icon-back ui-btn-icon-left">回到功能選單畫面</a></p>
<dir>
    @if (_model != null && _model.ERRMsg != "")
    {
        <p><font color="red" size="6">錯誤訊息:<p><strong>@Html.Raw(_model.ERRMsg)</strong></p></font></p>
    }
</dir>
<div id="tab-demo">
    <ul class="tab-title">
        <li><a href="#tab01">盤點倉庫存貨明細</a></li>
        <li><a href="#tab02">歷史盤營盤損紀錄</a></li>

    </ul>
    <div id="tab01" class="tab-inner">
        <form method="post">
            <input type='hidden' name='StoreNO' value="@_model.StoreNO" />
            <input type='hidden' name='StoreSpacesNO' value="@_model.StoreSpacesNO" />
            <input type='hidden' name='Station' value="@_model.Station" />
            <input type='hidden' id="Select_ID_B" name='Select_ID' value="" />
            <input type='hidden' name='Select_ID_QTY' value="" />
            <input type='hidden' name='ActionType' value="A" />
            <p><button type='submit' class="ui-btn ui-icon-grid ui-btn-icon-left" onclick="this.style.display='none'; _me.qqwwB()">確定異動數量</button></p>
            <p>
                @{
                    if (_model != null && _model.TotalStock_List != null && _model.TotalStock_List.Rows.Count > 0)
                    {
                        <table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" id="DisplayDataTable_B" border="1">
                            <thead>
                                <tr>
                                    <th>選擇</th>
                                    <th>儲位</th>
                                    <th>料件編號/品名/規格</th>
                                    <th>目前存量</th>
                                    <th>單位</th>
                                    <th>實際數量</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    using (DBADO db = new DBADO("1", _Fun.Config.Db))
                                    {
                                        DataRow tmp = null;
                                        DataRow dataRow = null;
                                        string unit = "";
                                        for (int i = 0; i < _model.TotalStock_List.Rows.Count; i++)
                                        {
                                            dataRow = _model.TotalStock_List.Rows[i];
                                            <tr>
                                                <td><input type="checkbox" name="optradio_B" value="@dataRow["Id"].ToString()"></td>
                                                <td>@dataRow["StoreSpacesNO"].ToString()</td>
                                                <td>
                                                    @dataRow["PartNO"].ToString()
                                                    @{
                                                        tmp = db.DB_GetFirstDataByDataRow($"SELECT PartName,Specification,Unit FROM SoftNetMainDB.[dbo].[Material] where PartNO='{dataRow["PartNO"].ToString()}'");
                                                        if (tmp != null)
                                                        {
                                                            unit = tmp["Unit"].ToString();
                                                            @tmp["PartName"].ToString()
                                                            @tmp["Specification"].ToString()
                                                        }
                                                    }
                                                </td>
                                                <td>@dataRow["QTY"].ToString()</td>
                                                <td>@unit</td>
                                                <td><input type='text' class='form-control' id='@dataRow["Id"].ToString()' value="@dataRow["QTY"].ToString()" /></td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <label>目前倉庫無存貨明細資料</label>
                    }
                }
            </p>
        </form>

    </div>

    <div id="tab02" class="tab-inner">
        <form method="post">
            <input type='hidden' name='StoreNO' value="@_model.StoreNO" />
            <input type='hidden' name='StoreSpacesNO' value="@_model.StoreSpacesNO" />
            <input type='hidden' name='Station' value="@_model.Station" />
            <input type='hidden' id="Select_ID_A" name='Select_ID' value="" />
            <input type='hidden' name='Select_ID_QTY' value="" />
            <input type='hidden' name='ActionType' value="B" />
            <p>
                @{
                    if (_model != null && _model.SIDList != null && _model.SIDList.Rows.Count > 0)
                    {
                        <table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" id="DisplayDataTable_A" border="1">
                            <thead>
                                <tr>
                                    <th>儲位</th>
                                    <th>單據編號</th>
                                    <th>料件編號/品名/規格</th>
                                    <th>數量</th>
                                    <th>單位</th>
                                    <th data-priority="2">備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    using (DBADO db = new DBADO("1", _Fun.Config.Db))
                                    {
                                        DataRow tmp = null;
                                        DataRow dataRow = null;
                                        for (int i = 0; i < _model.SIDList.Rows.Count; i++)
                                        {
                                            dataRow = _model.SIDList.Rows[i];
                                            <tr>
                                                <td>
                                                    @{
                                                        if (dataRow["OUT_StoreSpacesNO"].ToString() != "") { @dataRow["OUT_StoreSpacesNO"].ToString()}
                                                        else { @dataRow["IN_StoreSpacesNO"].ToString()}
                                                    }
                                                
                                                </td>
                                                <td>
                                                    @dataRow["DOCNumberNO"].ToString()
                                                    @{
                                                        tmp = db.DB_GetFirstDataByDataRow($"SELECT DOCName FROM SoftNetMainDB.[dbo].[DOCRole] where DOCNO='{dataRow["DOCNumberNO"].ToString().Substring(0, 4)}' and ServerId='{_Fun.Config.ServerId}'");
                                                        if (tmp != null)
                                                        {
                                                            @tmp["DOCName"].ToString()
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @dataRow["PartNO"].ToString()
                                                    @{
                                                        tmp = db.DB_GetFirstDataByDataRow($"SELECT PartName,Specification FROM SoftNetMainDB.[dbo].[Material] where PartNO='{dataRow["PartNO"].ToString()}'");
                                                        if (tmp != null)
                                                        {
                                                            @tmp["PartName"].ToString()
                                                            @tmp["Specification"].ToString()
                                                        }
                                                    }
                                                </td>
                                                <td>@dataRow["QTY"].ToString()</td>
                                                <td>@dataRow["Unit"].ToString()</td>
                                                <td>@dataRow["Remark"].ToString()</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <label>目前沒有計畫性領用明細</label>
                    }
                }

            </p>
        </form>
    </div>


</div>




<style>
    #tab-demo {
        width: 100%;

    }

        #tab-demo > ul {
            display: block;
            margin: 0;
            list-style: none;
        }

    .tab-title {
        list-style: none;
    }

    #tab-demo > ul > li {
        display: inline-block;
        vertical-align: top;
        font-family: '微軟正黑體';
        margin: 0 -1px -1px 0;
        border: 1px solid #BCBCBC;
        height: 25px;
        line-height: 25px;
        background: #cdcdcd;
        padding: 0 15px;
        list-style: none;
        box-sizing: border-box;
    }

        #tab-demo > ul > li a {
            color: #000;
            text-decoration: none;
        }

        #tab-demo > ul > li.active {
            border-bottom: 1px solid #fff;
            background: #fff;
        }

    #tab-demo > .tab-inner {
        clear: both;
        color: #000;
        border: 1px #BCBCBC solid;
    }

    .tab-inner {
        padding: 15px;

    }
</style>
